body {
    font-family: Arial, sans-serif;
    background-color: rgb(70, 70, 70);
}

h1 {
    text-align: center;
}

#main-buttons {
    text-align: center;
    margin-bottom: 20px;
}

#main-buttons button {
    margin: 5px;
}

.section {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

form input {
    margin: 5px;
    padding: 8px;
}
